@import "reset.css"
@import "Landing/landing.css"
@import "Header/header.css"

dark-purple = #120035
lighter-purple = #130840
my-burgundy =#CB1D34
my-orange = #EF473A

my-gradient = -webkit-linear-gradient(-65deg, dark-purple 0%, lighter-purple 40%, dark-purple 80%)

my-rad-gradient = -webkit-radial-gradient(circle, dark-purple 0%, lighter-purple 40%, dark-purple 80%)

my-orange-gradient = -webkit-linear-gradient(-65deg, my-orange 0%, my-orange 40%, my-burgundy 80%)

grad = -webkit-linear-gradient(45deg, rgba(201, 128, 101, 0.3) 30%, rgba(0, 62, 17, 0.4) 80%)

//pre load images on startup
html::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url("../res/package_1_image_4.jpeg") url("../res/package_1_image_4.jpeg") url("../res/package_1_image_4.jpeg") url("../res/package_1_image_4.jpeg") url("../res/package_2_image_1.jpeg") url("../res/package_2_image_2.jpeg") url("../res/package_3_image_1.jpeg") url("../res/package_3_image_2.jpeg") url("../res/package_4_image_1.jpeg") url("../res/package_4_image_2.jpeg") url("../res/package_4_image_3.jpeg") url("../res/package_4_image_4.jpeg") url("../res/package_5_image_1.jpeg") url("../res/package_5_image_2.jpeg") url("../res/package_5_image_3.jpeg") url("../res/package_5_image_4.jpeg") url("../res/package_6_image_1.jpeg")
}

body::before
  content ""
  // background url('../res/ttsa_carnival_design.png')
  // background url('../res/background_1.jpeg')
  background-size cover
  background white
  opacity 1
  top 0
  left 0
  bottom 0
  right 0
  position absolute
  z-index -1
  filter brightness(0.5)

body
  position relative
  height 100%
  width 100%
  // background-color #140239
  // background-image my-rad-gradient
  background-size cover
  /* background-color black */
  color white
  font-family Arial

body::after
  content ""
  /* background url('../res/red-noise.png'), grad */
  background-image grad
  opacity 0.6
  top 0
  left 0
  bottom 0
  right 0
  position absolute
  z-index -1

li
  list-style none